# .gitignore
.github/

## MAC Files
.DS_Store


## User settings
xcuserdata/

## Build directory
build/

# Project Specific
Frameworks/*
!Frameworks/.gitkeep

# No additional model updates for now. These will be added to separate storage
*.mlpackage
*.mlmodel
!IOSAccessAssessment/MachineLearning/SemanticSegmentation/bisenetv2_11_640_640.mlpackage

*.mlperf

## Traces
traces/